
@{
	ViewData["Title"] = "NOt saved orders";
}
@model IEnumerable<Midterm.Models.Order>
<h1>@ViewData["error"]</h1>
<div>
	<table class="table">
		<thead>
			<tr>

				<th scope="row" >Route</th>
				<th scope="row" >Category</th>
				<th scope="row" >Amount</th>
				<th scope="row" >Status</th>
				<th scope="row">Date</th>
				<th scope="row">Save</th>
				<th scope="row">Delete</th>
				<th scope="row">ChangeStatus</th>
				


			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{

			<tr>

				<td>
					@item.route
				</td>
				<td>
					@item.category
				</td>
				<td>
					@item.amount
				</td>
				<td>
					@item.status
				</td>
				<td>
					@item.date
				</td>
				<td>
					<input type="button" value="Save" onclick="location.href='@Url.Action("SaveOrder", "Home",new {Id = @item.id})'" />
				</td>
				<td>
					<input type="button" value="Delete" onclick="location.href='@Url.Action("DeleteOrder", "Home",new {Id = @item.id})'" />
				</td>
				<td>
					<input type="button" value="Delete" onclick="location.href='@Url.Action("ChangeOrder", "Home",new {Id = @item.id})'" />
				</td>


			</tr>
			}
		</tbody>
	</table>

</div>

